.banner_div {
  /* border: 1px solid red; */
  background-image: url("../public/bannerImg.jpg");
  background-size: 100% 100vh;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
}

.banner_img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.button_div {
  /* border: 1px solid red; */
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0px 50px;
  height: 100%;
}
.button {
  cursor: pointer;
  height: 60px;
  width: 300px;
  background: white;
  color: #19d038;
  border: 1px solid #f3f3f3;
  border-radius: 100px;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 900;
}
